<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> 

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://127.0.0.1:3306/model?useUnicode=true&amp;characterEncoding=UTF-8
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">admin</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.connection.provider_class">
			org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider
		</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		<property name="hibernate.search.lucene_version">LUCENE_CURRENT</property>
		
		<!-- 系统表start -->
 		<mapping resource="com/system/bean/User.hbm.xml" />
 		<mapping resource="com/system/bean/Role.hbm.xml" />
  		<mapping resource="com/system/bean/Menu.hbm.xml" />
  		<mapping resource="com/system/bean/Dict.hbm.xml" />
		<!-- 系统表end -->
			
	</session-factory>
</hibernate-configuration>